node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.production

# iOS build artifacts
ios/
*.ipa
*.xcarchive

# Android build artifacts
android/
*.apk
*.aab

# EAS build
.eas/
